# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1] Python

2] R

3] SQL

### Some of the commonly used libraries used by Data Scientists include:

1] Numpy
2] Pandas
3] Matplotlib
4] Seaborn

### Table for Data Science tools



| Data Science Tools |
| --- |
| Jupyter Notebook |
| Github |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
a = 5
b = 3
result1 = a + b
result2 = a * b
print("Sum =",result1,"& Product =",result2)

Sum = 8 & Product = 15

In [13]:
#Create a code cell to convert minutes to hours

minutes = 200
hours = minutes / 60
print("The number of hours is:", hours)

The number of hours is: 3.3333333333333335

## Insert a markdown cell to list Objectives

## Objectives:

- Exploratory Data Analysis
- Data Science Programming Languages
- Data Science tools
- Data Science Python and R libraries

## Author

Muhammed Yusayr Khan